.friendList {
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin-top: 30px;
  align-items: center;
  padding-top: 10px;
}

.item {
  width: 50vh;
  display: flex;
  border: 2px solid rgb(138, 144, 147);
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: center;
  box-shadow: 0 0 10px #0000004d;
}

.status {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
}
.true {
  background-color: green;
}
.false {
  background-color: red;
}

.avatar {
  width: 100px;
  margin-right: 10px;
}

.name {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
  color: #524a4d;
}
